<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
	</head>
    <body>
        <h1 th:text="#{web.login.title}">Login page</h1>
        <p th:if="${loginError}" class="error" th:text="#{web.login.error}">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
            <label for="username" th:text="#{web.login.login}">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password" th:text="#{web.login.password}">Password</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="Log in" th:value="#{web.login.submit}"/>
        </form>
    </body>
</html>
